{{ partial "header.html" . }}

<header class="cf w-100">
  <div class="fl w-60 pv4">
    <span class="f3 b">/ </span>
    <a href="{{ .Site.BaseURL  }}" class="f3 b bw1 bb pb1 no-underline black">{{ .Site.Title }}</a>
    <span class="f3 b"> / </span>
    <span class="f3 b pb1 no-underline black">{{ lower .Title }}</span>
  </div>
  <div class="fl w-40 pv4 tr">
    <a href="/post" class="f3 b bb bw1 pb1 no-underline black mr3">all posts</a>
    <a href="/about" class="f3 b bb bw1 pb1 no-underline black mr6">about</a>
  </div>
</header>

<main class="mt5">
  <div>
    <ul id="list" class="pl0">
      {{ range .Pages }}
      {{ if ne .Title "" }}
      <li class="list pl0 lh-copy hide-child">
        <a class="f4 b dib black no-underline" href="{{ .Permalink}}">{{ .Title }}</a>
        <span class="f6 gray db dib-ns child"><em>last seen</em> {{ .Lastmod.Format "January 2, 2006" }}</span>
      </li>
      {{ end }}
      {{ end }}
    </ul>
  </div>
</main>

{{ partial "footer.html" . }}
