{{ partial "header.html" . }}

<header>
  <span class="f3 b">/ </span>
  <a href="{{ .Site.BaseURL  }}" class="f3 b bw1 bb pb1 no-underline black">{{ .Site.Title  }}</a>
</header>

<main class="mt5">
  <div>
    <ul id="list" class="pl0">
      {{ range .Data.Pages.ByDate.Reverse }}
      <li class="list pl0 lh-copy">
        <a class="f3 b dib black no-underline" href="{{ .Permalink}}">{{ .Title }}</a>
        <span class="f6 gray db dib-ns">{{ .Date.Format "January 2, 2006" }}</span>
      </li>
      {{ end }}
    </ul>
  </div>
</main>

{{ partial "footer.html" . }}
